<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="top-bar">
    <h1 class="title">
        Student Details
    </h1>
</div>
<br>
<div class="student-list-container has-background-light">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>SNo</th>
          <th>Name</th>
          <th>Rollno</th>
          <th>Class</th>
          <th>Gender</th>
          <th>ID Number</th>
          <th>Contact number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; index as i" class="hoverable-row">
          <td>{{ i + 1 }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.rollno }}</td>
          <td>{{ student.studentClass }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.studentid }}</td>
          <td>{{ student.contact }}</td>
          <div class="view-buttons">
            <button class="button is-danger" title="Delete" (click)="onDeleteListClick(student._id)" style="margin-right: 10px; margin-top: 8px;">
              <div class="icon">
                <i class="bi bi-trash-fill"></i>
              </div>
            </button>
            
        </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttonclass">
    <button class="button is-primary" [routerLink]="['/edit-detail', selectedStudentId]" title="Edit" style="margin-right: 10px; margin-top: 8px;">
      <div class="icon">
          <i class="bi bi-pencil-square"></i>
      </div>
  </button>
  </div>

