@import '../../../main-styles.scss';
.title{
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    color: $blue;
}


tr {
    display: table-row;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
  }
  
  tr:hover {
    box-shadow: 0 0 0 5px #eeeeee;
  }
  
  th, td {
    display: table-cell;
    padding: 15px;
  }
  
  .view-buttons {
    transition: opacity 0.2s, transform 0.2s ease;
    transform: scale(0.85);
  }

  .hoverable-row:hover .view-buttons {
    opacity: 1;
  }
  
  .view-buttons {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .view-buttons button {
    visibility: hidden;
  }
  
  .hoverable-row:hover .view-buttons button {
    visibility: visible;
  }

  .buttonclass{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 8px 12px;
    cursor: pointer;
  }

  
  