@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$turquoise: #44ddd0;
$blue: #5c9fec;

$light-blue: #84bdf3;
$light: #f8f8f8;

$dark-blue: rgb(76, 65, 228);

//global variables
$family-san-serif: "Nunito", sans-serif;
$primary: $blue;

$link: $light-blue;

//component variables
$control-border-width: 2px;
$input-border-width: transparent;
$input-shadow: none;

html {
    background: linear-gradient(to right top,$turquoise,$blue);
}

html, body {
    height: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}